<!DOCTYPE html>
  <html>
    <title>Shiro-Obi - Eventos</title>

    <head>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- CSS Modifications-->
      <link rel="stylesheet" type="text/css" href="../css/myStyles.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
 
    <body>

      <!-- Navbar Begin -->
      <nav class="black">
            <div class="container">
              <div class="nav-wrapper">
                <!--Navbar Logo Begin-->
                <a href="../index.html" class="brand-logo white-text">
                  SHIRO OBI 
                  <i class="left large hide-on-med-and-down"><img src="../images/Shiro-Obi Logo web.ico"></i>
                </a>
                <!--Navbar Logo End-->
                
                <a href="#" data-target="side-menu" class="sidenav-trigger">
                  <i class="material-icons hide-on-large-only">menu</i>
                </a>
    
                <!--Navbar Options Begin-->
                <ul class=" nav-mobile right hide-on-med-and-down">
                    <li><a href="../view/blog.html">BLOG</a></li>
                    <li><a href="../view/event.html">EVENTOS</a></li>
                    <li><a href="../view/about.html">ACERCA DE</a></li>
                    <li><a href="../view/signin.html">REGISTRO</a></li>
                  </ul>
                <!--Navbar Options End-->
              </div>
    
              <ul class="sidenav" id="side-menu">
                <li><a href="../index.html"><i class="material-icons">home</i>INICIO</a></li>
                <li><a href="../view/blog.html"><i class="material-icons">library_books</i>BLOG</a></li>
                <li><a href="../view/event.html"><i class="material-icons">event</i>EVENTOS</a></li>
                <li><a href="../view/about.html"><i class="material-icons">person_pin</i>ACERCA DE</a></li>
                <li><a href="../view/signin.html"><i class="material-icons">add_circle_outline</i>REGISTRO</a></li>
              </ul>
              
            </div>
      </nav>
      <!-- Navbar End -->

      <!-- Blog Begin -->
      <div class="section">
          <div class="row">
              <h1 class="red-text text-darken-3 container">EVENTOS</h1>
              <div class="col s2 m2 l2 red">

              </div>
              <div class="col s10 m8 l8 blue">

              </div>
              <div class="col m2 l2 green hide-on-small-only"></div>

          </div>
      </div>
      <!-- Blog End -->

      <!-- Footer Begin -->
      <footer class="page-footer black">
            <div class="row">
                <div class="col m12">
                  <h5 class="center">DOJO SHIRO OBI</h5>
                  <p class="center">
                      C.E.I.S "Francisco Aristeguieta Badaracco" - Urb. "Antonio José de Sucre"<br>
                      Lunes, Miercoles y Jueves de 17:00 a 18:00 y de 18:00 a 19:30<br>
                      Whatsapp: +58-424-807-5752 Facebook: Shiro-Obi Dojo
                  </p>
                </div>
            </div>
            <div class="footer-copyright">
              <div class="container center">
              © 2019 Copyright
              </div>
            </div>
        </footer>
        <!-- Footer End -->
  
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Materialize inicializations -->
        <script src="../js/autoinit.js"></script>
      </body>
    </html>